@model List<Announcements>

@{
    ViewData["Title"] = "Tüm Duyurular";
    Layout = "_LayoutHomePage";
}

<div class="container-fluid mt-5 pt-3">
    <div class="container">
        <div class="section-title mt-2">
            <h4 class="m-0 text-uppercase font-weight-bold">Tüm Duyurular</h4>
        </div>
        <div class="bg-white border border-top-0 p-3">
            @foreach (var item in Model)
            {
                <div class="d-flex align-items-center bg-white mb-2">
                    <div class="row">
                        <div class="col-lg-8">
                            @if (item.FileType == ".pdf")
                            {
                                <a href="@Url.Action("ViewPdfAnnocumentn", "Home", new { id = item.Id })" target="_blank" title="@item.Name">
                                    <p class="mb-1" style="font-size:14px;color:black;font-style:italic">
                                        <i class="fa-regular fa-file-pdf mr-2"></i>@item.Name
                                    </p>
                                </a>
                            }
                            else @if (item.FileType == ".xls")
                            {
                                <a href="@Url.Action("DownloadAnnouncement", "Home", new { id = item.Id })" target="_blank" title="@item.Name">
                                    <p class="mb-1" style="font-size:14px;color:black;font-style:italic">
                                        <i class="fa-regular fa-file-pdf mr-2"></i>@item.Name
                                    </p>
                                </a>
                            }
                            else @if (item.FileType == ".xlsx")
                            {
                                <a href="@Url.Action("DownloadAnnouncement", "Home", new { id = item.Id })" target="_blank" title="@item.Name">
                                    <p class="mb-1" style="font-size:14px;color:black;font-style:italic">
                                        <i class="fa-regular fa-file-pdf mr-2"></i>@item.Name
                                    </p>
                                </a>
                            }
                            else @if (item.FileType == ".docx")
                            {
                                <a href="@Url.Action("DownloadAnnouncement", "Home", new { id = item.Id })" target="_blank" title="@item.Name">
                                    <p class="mb-1" style="font-size:14px;color:black;font-style:italic">
                                        <i class="fa-regular fa-file-pdf mr-2"></i>@item.Name
                                    </p>
                                </a>
                            }
                            else @if (item.FileType == ".doc")
                            {
                                <a href="@Url.Action("DownloadAnnouncement", "Home", new { id = item.Id })" target="_blank" title="@item.Name">
                                    <p class="mb-1" style="font-size:14px;color:black;font-style:italic">
                                        <i class="fa-regular fa-file-pdf mr-2"></i>@item.Name
                                    </p>
                                </a>
                            }
                            <hr />
                        </div>
                        <div class="col-lg-4">
                            <span class="badge badge-primary p-1 mr-2 float-right" style="font-size:14px;color:black;font-style:italic">@item.CreatedDate</span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
