@using NToastNotify
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - DSİ 24.Bölge Müdürlüğü Portal</title>

    <link href="~/lib/bootstrap5.3/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Avesome -->
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Account/Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    @* <i class="fas fa-laugh-wink"></i> *@
                    <img class="img-profile rounded-circle" src="/admin/img/dsi.png" height="40">
                </div>
                <div class="sidebar-brand-text mx-3" style="font-size:12px">DSİ 24.Bölge Administrator</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/Account/Index">
                    <i class="fa-solid fa-house"></i>
                    <span>Anasayfa</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                İşlemler
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/Managemention/Index">
                    <i class="fa-solid fa-building-ngo"></i>
                    <span> Organizasyon Şeması</span>
                </a>
                <a class="nav-link collapsed" href="/DepartmentManager/Index">
                    <i class="fa-solid fa-people-roof"></i>
                    <span> Yönetim-Müdürler</span>
                </a>
                <a class="nav-link collapsed" href="/RegionalManager/Index">
                    <i class="fa-solid fa-user-secret"></i>
                    <span> Bölge Müdürü</span>
                </a>
                <a class="nav-link collapsed" href="/User/Index">
                    <i class="fa-solid fa-users"></i>
                    <span> Kullanıcılar</span>
                </a>
                <a class="nav-link collapsed" href="/News/Index">
                    <i class="fa-solid fa-check-double"></i>
                    <span> Haberler</span>
                </a>
                <a class="nav-link collapsed" href="/Announcement/Index">
                    <i class="fa-solid fa-flag"></i>
                    <span> Duyurular</span>
                </a>
                <a class="nav-link collapsed" href="/Form/Index">
                    <i class="fa-solid fa-align-justify"></i>
                    <span> Formlar</span>
                </a>
                <a class="nav-link collapsed" href="/App/Index">
                    <i class="fa-brands fa-app-store-ios"></i>
                    <span> Uygulamalar-Kısayollar</span>
                </a>
                <a class="nav-link collapsed" href="/Camera/Index">
                    <i class="fa-solid fa-camera"></i>
                    <span> Kameralar</span>
                </a>
                <a class="nav-link collapsed" href="/BenefitLink/Index">
                    <i class="fa-solid fa-link"></i>
                    <span> Faydalı Linkler</span>
                </a>
                <a class="nav-link collapsed" href="/FoodList/Index">
                    <i class="fa-solid fa-burger"></i>
                    <span> Yemek Listesi</span>
                </a>
                <a class="nav-link collapsed" href="/FoodPriceList/Index">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <span> Yemek Fiyat Listesi</span>
                </a>
                <a class="nav-link collapsed" href="/GuestFeeChart/Index">
                    <i class="fa-solid fa-user-check"></i>
                    <span> Misafirhane Yemek Çizelgesi</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Context.User.Identity.Name</span>
                                <img class="img-profile rounded-circle" src="/admin/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                 <a href="/Account/MyProfile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profilim
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="/Account/ChangePassword">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Şifremi Değiştir
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="/Account/LogOut" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <h1 class="mt-2 mb-4">@ViewData["Title"]</h1>
                            <hr />
                            @RenderBody()
                        </div>
                    </div>

                </div>

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span> &copy; DSİ 24. Bölge Müdürlüğü Portal Sayfası <strong>@DateTime.Now.Year</strong></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ayrılmaya Hazır mısın?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Mevcut oturumunuzu sonlandırmak için "Çıkış"ı seçiniz..</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <a class="btn btn-primary" href="/Account/LogOut">Çıkış</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap5.3/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/chart-area-demo.js"></script>
    <script src="~/admin/js/demo/chart-pie-demo.js"></script>
    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>

</html>